{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block navbar %}
	{{parent()}}
	INDEX ENFANT
{% endblock %}

{% block body %}
	<div>
		<h1>Articles</h1>
		# liste des articles avec Twig:
		<ul>
			{% for article in articles %}
				<li>
					{{article.Title}}
				</li>
				<li>{{article.dateCreated|date('Y-m-d')}}</li>
				{# <li>{{article.visible}}</li> #}
				{# <li>{{article.content}}</li> #}
				<a href="#"></a>
				<li>{{article.category.getName()}}</li>
				{# <a href="{{ path('category_item',{ 'id': article.category.id })}}"> {{article.category.getName()}}</a> #}
			{% endfor %}
		</ul>
	</div>


	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="example-wrapper">
		<h1>Hello
																																																																																																			Human Booster! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/Users/vitsi/OneDrive/文档/MEGA/mon_projet/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/Users/vitsi/OneDrive/文档/MEGA/mon_projet/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
